In [1]:
import pandas as pd

In [2]:
items = [{'bikes': 20, 'pants': 30, 'watches': 35}, {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}]

store_items = pd.DataFrame(items, index=['Store 1','Store 2'])
store_items

         bikes  glasses  pants  watches
Store 1     20      NaN     30       35
Store 2     15     50.0      5       10

In [3]:
store_items[['bikes']]

         bikes
Store 1     20
Store 2     15

In [4]:
store_items[['bikes', 'pants']]

         bikes  pants
Store 1     20     30
Store 2     15      5

In [5]:
store_items.loc[['Store 1']]

         bikes  glasses  pants  watches
Store 1     20      NaN     30       35

In [7]:
store_items['bikes']['Store 2']

15

In [9]:
store_items['shirts'] = [15, 2]
store_items

         bikes  glasses  pants  watches  shirts
Store 1     20      NaN     30       35      15
Store 2     15     50.0      5       10       2

In [10]:
store_items['suits'] = store_items['shirts'] + store_items['pants']
store_items

         bikes  glasses  pants  watches  shirts  suits
Store 1     20      NaN     30       35      15     45
Store 2     15     50.0      5       10       2      7

In [36]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]
new_store = pd.DataFrame(new_items, index=['Store 3'])
new_store

         bikes  glasses  pants  watches
Store 3     20        4     30       35

In [38]:
store_items = store_items.append(new_store, sort=False)
store_items

         bikes  glasses  pants  shirts  suits  watches
Store 1     20      NaN     30    15.0   45.0       35
Store 2     15     50.0      5     2.0    7.0       10
Store 3     20      4.0     30     NaN    NaN       35

In [39]:
# We add a new column using data from particular rows in the watches column
store_items['new_watches'] = store_items['watches']

# We display the modified DataFrame
store_items

         bikes  glasses  pants  shirts  suits  watches  new_watches
Store 1     20      NaN     30    15.0   45.0       35           35
Store 2     15     50.0      5     2.0    7.0       10           10
Store 3     20      4.0     30     NaN    NaN       35           35

In [40]:
store_items

         bikes  glasses  pants  shirts  suits  watches  new_watches
Store 1     20      NaN     30    15.0   45.0       35           35
Store 2     15     50.0      5     2.0    7.0       10           10
Store 3     20      4.0     30     NaN    NaN       35           35

In [41]:
store_items.pop('new_watches')

Store 1    35
Store 2    10
Store 3    35
Name: new_watches, dtype: int64

In [42]:
store_items.insert(5, 'shoes',[8,5,0])
store_items

         bikes  glasses  pants  shirts  suits  shoes  watches
Store 1     20      NaN     30    15.0   45.0      8       35
Store 2     15     50.0      5     2.0    7.0      5       10
Store 3     20      4.0     30     NaN    NaN      0       35

In [45]:
store_items = store_items.drop(['Store 1', 'Store 2'], axis=0)
store_items

KeyError: "['Store 1' 'Store 2'] not found in axis"

In [46]:
store_items

         bikes  glasses  pants  shirts  suits  shoes  watches
Store 3     20      4.0     30     NaN    NaN      0       35

In [47]:
store_items = store_items.rename(columns= {'bikes' : 'hats'})
store_items

         hats  glasses  pants  shirts  suits  shoes  watches
Store 3    20      4.0     30     NaN    NaN      0       35

In [48]:
store_items = store_items.rename(index= {'Store 3' : 'last store'})
store_items

            hats  glasses  pants  shirts  suits  shoes  watches
last store    20      4.0     30     NaN    NaN      0       35