In [1]:
import pandas as pd

In [2]:
items = {'Bob' : pd.Series([245, 25, 55], index = ['bike', 'pants', 'watch']),
        'Alice' : pd.Series([40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

type(items)

dict

In [3]:
shopping_carts = pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [4]:
data = {'Bob' : pd.Series([245, 25, 55]),
       'Alice' : pd.Series([40, 110, 500, 45])}

df = pd.DataFrame(data)

df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [5]:
shopping_carts.values

array([[245., 500.],
       [ nan,  40.],
       [ nan, 110.],
       [ 25.,  45.],
       [ 55.,  nan]])

In [6]:
shopping_carts.shape

(5, 2)

In [7]:
shopping_carts.ndim

2

In [8]:
shopping_carts.size

10

In [9]:
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [11]:
sel_shopping_cart = pd.DataFrame(items, index=['pants', 'book'])
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [13]:
alice_shopping_cart = pd.DataFrame(items, columns=['Alice'], index=['glasses','bike'])
alice_shopping_cart

         Alice
glasses    110
bike       500

In [14]:
data = {'Integers' : [1,2,3],
       'Floats' : [4.5, 8.2, 9.6]}

df = pd.DataFrame(data, index=['label 1', 'label 2', 'label 3'])
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

In [15]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

store_items = pd.DataFrame(items)
store_items

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN