In [1]:
import pandas as pd

In [4]:
fruits = pd.Series(data = [10,6,3], index = ['apples', 'oranges', 'bananas'])

In [5]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [6]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [7]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [8]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [9]:
import numpy as np

In [10]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [11]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [12]:
np.power(fruits,2)

apples     100
oranges     36
bananas      9
dtype: int64

In [13]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [14]:
fruits ['bananas'] + 2

5

In [15]:
fruits.iloc[0] - 2

8

In [16]:
fruits[['apples','oranges']] * 2

apples     20
oranges    12
dtype: int64

In [18]:
fruits.loc[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64